<form class="form">
  <h1 class="display-4">Change Password</h1>
  <div class="form-group">
    <label for="txt_OldPassword">Admin Old Password</label>
    <input type="password" class="form-control" name="txt_OldPassword" placeholder="Enter Your Password" required>
  </div>
  <div class="form-group">
    <label for="txt_AdminPassword">Admin New Password</label>
    <input type="password" class="form-control" name="txt_AdminPassword" placeholder="Enter Your Password" required>
  </div>
  <div class="form-group">
    <label for="txt_conform_AdminPassword">Conform Admin Password</label>
    <input type="password" class="form-control" name="txt_conform_AdminPassword" placeholder="Conform Your Password" required>
  </div>
  <div class="form-group">
    <button type="submit" name="btn_change_password" class="btn btn-outline-primary btn-block">Change Password</button>
  </div>
</form>