<h1 class="display-4">Admin Dashboard</h1>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="jumbotron">
            <i class="fa fa-university" aria-hidden="true"></i>
            <h1>Total Department {{myData[0]}}</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="jumbotron">
            <i class="fa fa-bank" aria-hidden="true"></i>
            <h1>Total Course {{myData[2]}}</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="jumbotron">
            <i class="fa fa-bank" aria-hidden="true"></i>
            <h1>Total Subject {{myData[4]}}</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="jumbotron">
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            <h1>Total Unit {{myData[6]}}</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="jumbotron">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <h1>Total Director {{myData[8]}}</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="jumbotron">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <h1>Total Faculty {{myData[10]}}</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="jumbotron">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <h1>Total Student {{myData[12]}}</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="jumbotron">
            <i class="fa fa-mortar-board" aria-hidden="true"></i>
            <h1>Total Exam {{myData[14]}}</h1>
        </div>
    </div>
</div>