<form class="form" [formGroup]="managedirectorform" (ngSubmit)="onSubmit()">
  <h1 class="display-4">Director</h1>
  <div class="form-group">
      <label for="txb_director_name">Director Name</label>
      <input class="form-control" type="text" formControlName="dname" required>
  </div>
  <div class="form-group">
      <label for="txb_director_email">Director Email</label>
      <input class="form-control" type="text" formControlName="demail" required>
  </div>
  <div class="form-group">
      <label for="txb_director_cno">Director Contact No</label>
      <input class="form-control" type="text" formControlName="dcontact" required>
  </div>
  <div class="form-group">
      <label for="txa_director_address">Director Address</label>
      <textarea class="form-control" rows="5" formControlName="daddress" required></textarea>
  </div>
  <div class="form-group">
    <input type="radio" formControlName="gender" value="male" > Male
    <input type="radio" formControlName="gender" value="female" > Female
  </div>
  <div class="form-group">
      <label for="director_dob">Director Date of Birth</label>
      <input type="date" class="form-control" formControlName="ddob" required>
  </div>
  <div class="form-group">
    <label for="sel_dept">Director Departmet</label>
    <select formControlName='deptselect' class='form-control' required>
        <option *ngFor="let o2 of deptobj" [value]="o2[0]">{{o2[1]}}</option>
    </select>
  </div>
  <div class="form-group">
      <button type="submit" name="btn_add_director" class="btn btn-outline-primary btn-block">Add director</button>
  </div>
  <table class='table table-responsive-sm table-striped table-bordered table-hover'>
    <tr><th>Director Name</th><th>Direcotr email</th><th>Director contact</th><th>Director Address</th><th>Director Gender</th><th>Director Date of Birth</th><th>Department</th></tr>
    <tr *ngFor="let o of obj"><td>{{o[1]}}</td><td>{{o[2]}}</td><td>{{o[3]}}</td><td>{{o[4]}}</td><td>{{o[5]}}</td><td>{{o[6]}}</td><td>{{o[9]}}</td></tr>
  </table>
</form>