<form class="form">
  <h1 class="display-4">Home</h1>
  <div class="container-fluid">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="Admin Image">
        <div class="card-body">
          <h5 class="card-title">Admin</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <input routerLink="admindashboard" class="btn btn-outline-info btn-block" value="Admin" name="btn_admin">
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="Director Image">
        <div class="card-body">
          <h5 class="card-title">Director</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <input routerLink="directordashboard" class="btn btn-outline-info btn-block" value="Director" name="btn_direcotr">
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="Faculty Image">
        <div class="card-body">
          <h5 class="card-title">Faculty</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <input routerLink="facultydashboard" class="btn btn-outline-info btn-block" value="Faculty" name="btn_faculty">
        </div>
      </div>
        
      <div class="card">
        <img class="card-img-top" src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="Student Image">
        <div class="card-body">
          <h5 class="card-title">Student</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <input routerLink="studentdashboard" class="btn btn-outline-info btn-block" value="Student" name="btn_student">
        </div>
      </div>
    </div>
  </div>
</form>